.container {
    display: flex;
}

body {
    background-color: #F3E4C9;
}

nav {
    background-color: #0A2947;
}

#headshot {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.hero {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

h3 {
    color: #0A2947;
}

.socialMedia {
    display: inline;
}

.footer {
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-content: flex-end;
    flex-wrap: wrap;
}

.socials {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: row;
}